{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - la boucherie Paux{% endblock %}

{% block content %}
    {% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
    {% endif %}

    <h1>Modifier mes informations</h1>
    <hr>

    {{ form(form) }}

    <hr>
    <a href="{{ path('account') }}">Retourner à mon compte</a>
{% endblock %}
