{% extends 'base.html.twig' %}


{% block content %}

        <header class="bg-black py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Bienvenue sur le site de la Boucherie Paux</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Infos boutique</p>
                </div>
            </div>
        </header>
        

{% endblock %}
