{% extends 'base.html.twig' %}


{% block content %}

<div class="container  col col-md-8  justify-content border-start border-end">

<h1 class="text-warning mb-4 mt-4 text-center">Conditions générales de vente</h1>

<p>Voici nos conditions générales de vente. En commandant avec la SARL BOUCHERIE PAUX vous nous notifiez votre accord d’être soumis aux présentes conditions.</p>

<h3 class="text-warning"> 1- Champ d’application</h3>
<p >
    Les présentes Conditions Générales de Vente s’appliquent, sans restriction ni réserve à l’ensemble des ventes conclues par la Boucherie Paux SARL, société immatriculée au R.C.S ..., dont le siège social se situe au 14 rue du gradient, 12345 Gradient-City, auprès d’acheteurs non professionnels et professionnels, désirant acquérir les produits proposés à la vente par La Boucherie Paux sur son site Internet www.boucherie-paux.fr, à savoir desproduits alimentaires de type viandes et plats préparés.
</p>
<p>
    Le fait de commander sur le site Internet de La Boucherie Paux emporte adhésion et acceptation pleine et entière des présentes Conditions Générales de Vente, ce qui est expressément reconnu par le Client, qui renonce, notamment, à se prévaloir de tout document contradictoire, qui serait inopposable à La Boucherie Paux.
</p>
<p>
    Ces Conditions Générales de Vente sont accessibles à tout moment sur ce site Internet et prévaudront, le cas échéant, sur toute autre version antérieure ou tout autre document contradictoire. Le Client dispose de la faculté de sauvegarder, d’éditer ou de copier les présentes conditions générales, étant précisé que tant la sauvegarde, l’édition ou la copie de ce document relèvent de sa seule responsabilité, ces conditions générales de vente pouvant être susceptible de subir des modifications. Dans ce cas, les conditions applicables seront celles en vigueur à la date de la commande. Les modifications de ces Conditions Générales de Vente sont opposables aux utilisateurs du site à compter de leur mise en ligne et s’appliquent aux transactions conclues postérieurement.
</p>

<h3 class="text-warning mt-4">2- Commandes</h3> 

<p>
    Il appartient au Client de sélectionner sur le site les Produits qu’il désire commander, selon les modalités suivantes :
    </p>
<h5 class="ms-2 text-warning">2.1. Navigation à l’intérieur du Site</h5>

<p> 
    Le Client peut prendre connaissance des différents Produits proposés à la vente par La Boucherie Paux sur son Site. Le Client peut naviguer librement sur les différentes pages du Site, sans pour autant être engagé au titre d’une commande. Les offres de Produits s’entendent une fois le projet financé à 100 %.
</p>
<h5 class="ms-2 text-warning">2.2. Enregistrement d’une commande</h5>

<p> 
    Si le Client souhaite passer commande, il choisira les différents Produits auxquels il porte un intérêt, et manifestera ledit intérêt en cliquant sur le bouton « Ajouter au Panier » pour ajouter au panier le produit ainsi sélectionné.
</p>

<p>Sur le site internet, à tout moment, le Client pourra :
    <ul>
        <li> obtenir le détail des Produits qu’il a sélectionnés, en cliquant sur « Mon panier »,</li>
        <li> poursuivre sa sélection de Produits en cliquant sur « Continuer mes achats »,</li>
        <li> terminer sa sélection de Produits et commander ces Produits en cliquant sur « Valider la commande ».</li>
    </ul>
</p>

<p> 
    Pour commander les Produits qu’il a ainsi choisis, après avoir cliqué sur « Valider la commande », le Client devra s’identifier, soit en saisissant son adresse mail et son mot de passe confidentiel, s’il a déjà créé son compte, soit en s’inscrivant dans le cas contraire. Dans cette dernière hypothèse, le Client devra remplir avec exactitude le formulaire mis à sa disposition, sur lequel il fera notamment figurer les informations nécessaires à son identification et notamment ses nom, prénom, n° de téléphone. En outre, le Client devra fournir son adresse e-mail et un mot de passe de son choix qui lui sera personnel et confidentiel et dont il aura besoin pour s’identifier ultérieurement sur le Site. Le Client est informé et accepte que la saisie de ces deux identifiants vaut preuve de son identité et manifeste son consentement.
</p>
<p>
    Une fois le Client identifié, il devra valider l’adresse de livraison. Un récapitulatif apparaîtra à l’écran, détaillant : les natures, quantité et prix des Produits retenus par le Client, ainsi que le montant total de la commande, les coordonnées du Client, l’adresse de retrait des Produits. Le Client pourra corriger les éventuelles erreurs avant de confirmer sa commande. Si tel est le cas, un nouveau récapitulatif sera automatiquement édité.
</p>

<h5 class="ms-2 text-warning">2.3. Validation définitive de la commande</h5>

<p>
    Après avoir pris connaissance du bon de commande, et une fois que l’ensemble des informations demandées aura été complété par le Client, ce dernier cochera la case d’acceptation des présentes conditions générales de vente et cliquera sur « confirmer la commande ». Ce deuxième clic constitue une signature électronique. Cette signature a valeur entre les Parties au même titre qu’une signature manuscrite. Le bon de commande sera enregistré sur les registres informatiques de La Boucherie Paux, eux-mêmes conservés sur un support fiable et durable, et sera considéré comme preuve des relations contractuelles intervenues entre les Parties.
</p>
<p>
    Le Client pourra choisir le mode de paiement qu’il souhaite, parmi ceux proposés par La Boucherie Paux et procédera au paiement des Produits dans les conditions de l’article 5.
</p>
<h5 class="ms-2 text-warning">2.4. Récapitulatif de la commande</h5>

<p>
    Lorsqu’il aura validé son mode de paiement sur le site (le cas échéant avec la fourniture de son numéro de carte et la date d’expiration), un récapitulatif de la commande du Client s’affichera et mentionnera notamment le numéro de la transaction. La vente ne sera considérée comme définitive qu’après l’affichage du récapitulatif de la commande par La Boucherie Paux, lequel vaut accusé de réception de la commande. Il sera alors envoyé au Client un courriel récapitulant la commande lors de son enregistrement.
<h5 class="ms-2 text-warning">2.5 Généralités</h5>

<p>
    Sauf preuve contraire, les données enregistrées par La Boucherie Paux constituent la preuve de l’ensemble des transactions. En tout état de cause, La Boucherie Paux se réserve le droit de refuser toute commande de litige existant avec le Client, de non paiement total ou partiel d’une commande précédente par le Client, de refus d’autorisation de paiement par carte bancaire des organismes bancaires. La responsabilité de La Boucherie Paux ne pourra alors être engagée.
</p>

<h3 class="text-warning mt-4"> 3- Disponibilité des Produits</h3>

<p>
    Les offres de Produits proposés sur le site ne sont valables que dans la limite des stocks disponibles. En cas d’indisponibilité du Produit après passation de la commande par le Client, La Boucherie Paux s’engage à l’en informer dans les 30 jours et à indiquer au Client le délai d’attente pour la réception du Produit commandé.
</p>
<h3 class="text-warning mt-4">4- Tarifs</h3>

<p>
    Les Produits sont commercialisés aux tarifs en vigueur figurant sur le site, lors de l’enregistrement de la commande par La Boucherie Paux. Les prix sont exprimés TTC en Euros.
</p>
<p> 
    La Boucherie Paux se réserve le droit de modifier ses tarifs à tout moment.
</p>
<p>
    Le prix indiqué dans le récapitulatif final édité par La Boucherie Paux est le prix définitif. Le paiement lui-même ne sera considéré comme exécuté qu’après encaissement effectif des fonds par La Boucherie Paux.
</p>
<p>
    La Boucherie Paux ne sera pas tenue de procéder à la préparation des Produits commandés par le Client si celui-ci ne lui en paye pas le prix en totalité dans les conditions et ci-dessus indiquées. Les paiements effectués par le Client ne seront considérés comme définitifs qu’après encaissement effectif des sommes dues par La Boucherie Paux.
</p>
<h3 class="text-warning mt-4">5- Produits</h3>

<p>
    Les produits de notre offre sont conformes à la réglementation et aux normes en vigueur en France et/ou dans l’Union Européenne à la date de leur livraison.
</p>

<p>
    Chaque produit est accompagné d’un descriptif permettant au Client de connaître les caractéristiques essentielles du produit. Les photos et illustrations n’ont toutefois qu’une valeur indicative. De même, pour les produits à la découpe, leur poids est susceptible de varier selon la découpe dans une fourchette de +/- 5 % par rapport au poids indiqué sur le descriptif du produit. Si le poids du produit à la découpe est supérieur ou inférieur de 5 % au poids indiqué dans le descriptif, l’excédent ou l’insuffisance de poids ne donnera lieu à aucune augmentation ou diminution proportionnelle du prix de la part de La Boucherie Paux.
</p>
<p>
    En conséquence, la responsabilité de La Boucherie Paux ne saurait être recherchée ni engagée en cas d’erreurs, imprécisions ou omissions relativement aux informations de son offre mises en ligne sur ce site.
</p>
<p>
    La Boucherie Paux se réserve le droit de modifier à tout moment et sans préavis son offre. En conséquence, les produits de son offre sont disponibles tant qu’ils figurent sur le site www.boucherie-paux.fr et dans la limite des stocks. La disponibilité ou non d’un produit est indiquée au client lors de la saisie du bon de commande et lui est confirmée dans l’accusé de réception de commande. En cas d’indisponibilité confirmée dans l’accusé de réception de commande, le Client pourra alors demander, dans les 72 heures, soit l’annulation de son bon de commande contre remboursement, soit la substitution avec un autre produit disponible sur le site.
</p>
<h3 class="text-warning mt-4">6- Conditions de paiement</h3>
<p>
    Le prix est payable comptant, en totalité au jour de la passation de la commande par le Client, par voie de paiement sécurisé, selon la modalité suivante :  carte bancaire.
</p>
<p>
    En commandant par carte bancaire, le client devra transmettre son numéro de carte bancaire, suivant le type de cette dernière, la date d’expiration de celle-ci ainsi que le numéro cryptogramme (numéro à 3 chiffres figurant au verso de la carte bancaire). En choisissant un règlement immédiat par carte bancaire, le Client sera alors basculé automatiquement sur le serveur monétique Stripe. Le serveur Stripe fait l’objet d’une sécurisation par son terminal de paiement électronique de manière à protéger le plus efficacement possible toutes les données liées aux moyens de paiement. Le Client reconnaît qu’à aucun moment ses données bancaires ne transiteront sur le système informatique de La Boucherie Paux, qui ne pourra donc voir sa responsabilité engagée en cas de soustraction frauduleuse des données bancaires du Client.
</p>

<h3 class="text-warning mt-4">7-Retrait des produits</h3>
<h5 class="ms-2 text-warning">7-1Délais de mise à disposition.</h5>
<p>
    Le délai de mise à disposition est fonction de la nature des produits commandés et est précisé dans le récapitulatif de commande. Le retrait des produits  ne peut se faire que le lendemain de la date de la commande sous réserve des horaires d’ouverture du magasin.
</p>
<p>
    La Boucherie Paux vous remettra un ticket de caisse et pourra vous demander de signer son double comme preuve de retrait. En cas de non retrait d’une commande, le prix de la commande vous sera facturé et la commande ne pourra pas être annulée.
</p>
<h5 class="ms-2 text-warning">7-2Lieu de retrait</h5>
<p>
    La commande est retirée à la boutique : Boucherie Paux, 14 rue du gradient, 12345 Gradient-City.
</p>

<h3 class="text-warning mt-4">8- Transfert de propriété – Transfert des risques</h3>
<p>
    Le transfert de propriété des Produits de La Boucherie Paux, au profit du Client, ne sera réalisé qu’après complet paiement du prix par ce dernier, et ce quelle que soit la date de préparation desdits Produits.
</p>
<h3 class="text-warning mt-4">9- Absence de droit de rétractation</h3>

<p>
    Selon les dispositions de l’article L121-20-2 3° du Code de la Consommation, le droit de rétractation applicable en matière de vente à distance ne peut être exercé dans le cas de la fourniture de biens qui du fait de leur nature sont susceptibles de se détériorer ou de se périmer rapidement.
</p>
<p>
    En application de ce texte, il est expressément indiqué que toute commande sur le site https://www.boucherie-paux.fr est ferme et définitive et que l’exercice du droit de rétractation est exclu.
</p>
<p>
    Les commandes qui ont donc été définitivement validées, payées ne sont pas annulables. Aucune marchandise ne peut être reprise ou échangée.
</p>
<h3 class="text-warning mt-4"> 10- Obligations du Client</h3>
<p>
    La Boucherie des Paux rappelle que les mineurs non émancipés sont incapables de contracter. Par conséquent, les commandes destinées aux mineurs doivent être passées par la personne titulaire de l’autorité parentale. Le Client doit utiliser les Produits conformément à la notice d’utilisation qui y est jointe.
</p>
<h3 class="text-warning mt-4">11- Responsabilité de La Boucherie Paux – Garantie</h3>
<p>
    Le Client est seul responsable du choix des Produits, de leur conservation et de leur utilisation.
</p>
<p>
    Le vendeur, dans le processus de vente en ligne, n’est tenu que par une obligation de moyens; sa responsabilité ne pourra être engagée pour un dommage résultant de l’utilisation du réseau Internet tel que perte de données, intrusion, virus, rupture du service, ou autres problèmes involontaires.
</p>
<p>
    La fiche détaillée du produit est la seule source contractuelle. Les produits étant en constante évolution, https://www.boucherie-paux.fr peut être amenée à modifier sans préavis les emballages des produits, la composition technique et les caractéristiques des références produits, qui ne sont données qu’à titre indicatif.
</p>
<h3 class="text-warning mt-4"> 12- Informatiques et libertés</h3>

<p>
    Il est rappelé que les données nominatives qui sont demandées au Client sont nécessaires au traitement de sa commande. Le Client dispose, conformément aux réglementations nationales et européennes en vigueur d’un droit d’accès permanent, de modification, de rectification et d’opposition s’agissant des informations le concernant en écrivant à l’adresse suivante : Boucherie Paux, 14 rue du gradient, 12345 Gradient-City ou via le <a href="{{path('contact')}}">formulaire de contact</a>.
</p>
<h3 class="text-warning mt-4">13- Propriété intellectuelle</h3>
<p>
    Le contenu du site est la propriété de La Boucherie Paux et de ses partenaires et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle. Toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon. En outre, La Boucherie Paux reste propriétaire de tous les droits de propriété intellectuelle sur les recettes, études, dessins, modèles, photographies, etc… en relation avec les Produits. Le Client s’interdit donc toute reproduction ou exploitation desdites recettes, études, dessins, modèles et photographies, etc.
</p>
<h3 class="text-warning mt-4">14- Non validité partielle</h3>
<p>
    Si une ou plusieurs stipulations des présentes conditions générales sont tenues pour non valides ou déclarées comme telles en application d’une loi, d’un règlement ou à la suite d’une décision passée en force de chose jugée d’une juridiction compétente, les autres stipulations garderont toute leur force et leur portée.
</p>
<h3 class="text-warning mt-4">15- Intégralité du contrat</h3>
<p>
    Les présentes conditions générales de vente et le récapitulatif de la commande transmis au Client forment un ensemble contractuel et constituent l’intégralité des relations contractuelles intervenues entre les Parties.
</p>
<h3 class="text-warning mt-4">16- Litiges – Droit applicable</h3>
<p>
    En cas de litige, une solution amiable sera recherchée entre les Parties. A défaut d’accord pendant un délai de 2 mois, tous les litiges auxquels le présent contrat pourrait donner lieu, concernant tant sa validité, son interprétation, son exécution, sa résiliation, leurs conséquences et leurs suites seront soumis aux tribunaux compétents dans les conditions de droit commun. Les présentes conditions générales de vente et opérations qui y sont visées sont régies par le droit français.
</p>

</div>

{% endblock %}

