{% extends 'base.html.twig' %}

{% block title %}Hello GitPyController!{% endblock %}

{% block body %}

<div class="example-wrapper">
<h1>Ici c'est la page de Py</h1>

<img src="{{ asset('build/images/shrek.png') }}" alt="shrek">
</div>

{% endblock %}