{% extends 'base.html.twig' %}

{% block title %}Inscription - La boucherie {% endblock %}

{% block content %}
    <div class="mt-2 backgroundForm">
        <h1>Inscription</h1>
        {{ form(form) }}
    </div>
{% endblock %}