.navbar-custom {
  color: white;
  background-color: #cf9d3d;
}

.logo img {
  width: 125px;
}

.a-custom {
  color: #fff;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}
.a-custom:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: $bg_color;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.a-custom:hover:after {
  width: 100%;
  left: 0;
}
