@import "~bootstrap/scss/bootstrap";

@import "_var.scss";

@import "_footer.scss";

@import "_navbar.scss";

@import "_font.scss";

@import "_datepicker.scss";

body {
  background-color: $bg_color;
  color: white;
  padding-bottom: 200px;
}


.backgroundForm {
  padding: 50px;
}
.account-item {
  background-color: #f1f2f6;
  padding: 60px;
}
.account-item a {
  text-transform: uppercase;
  font-size: 15px;
  color: #4b6584;
  font-weight: bold;
  text-decoration: none;
}

.custom-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.box-img {
  width: 250px;
}

/* Products */
.container-product {
  margin-bottom: 200px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all;
}

a:hover {
  color: inherit;
}

.card-custom {
  border: none;
}
.card-custom:hover {
  box-shadow: 0px 0px 10px 2px $secondary_color;
  transform: scale(1.02);
  transition: ease-in-out 125ms;
}

.custom-radient{
  background: linear-gradient(to top, #333 5%, #cf9d3d 50%, #333 95%);
}

.table-custom{
  background-color: #f8f9fa80;
  margin: 2px;
  border-radius: 15px;
}

.table {
  margin: 5% auto;
  width: 80%;
}

.custom-button{
  background-color: white;
  border: solid black 2px;
  border-radius: 5px;
  height: 3rem;
  width: 3rem;
  padding: 10px;
}

.custom-cart{
  background-color: #000000;
  border: solid #ffffff 2px;
  border-radius: 25px;
  height: 4rem;
  width: 5rem;
  position: relative;
  padding: 8px 16px;
}
.cart{
  position: absolute;
  height: 40px;
  width: 40px;
  &-img{
    z-index: 1;
  }
  &-text{
    z-index: 2;
    font-size: x-large;
    color: tomato;
    font-weight: bolder;
    padding: 5px;
  }
}

.cart-item{
  background-color: #ffffffc0;
  width: 80%; 
  position: relative; 
  margin-right: auto; 
  margin-left: auto; 
  border-radius: 10px; 
  text-align: center;
}