{% extends 'base.html.twig' %}

{% block title %}Hello CotelettesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/sophie/Documents/Symfony_projects/boucherie_p/src/Controller/CotelettesController.php'|file_link(0) }}">src/Controller/CotelettesController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/sophie/Documents/Symfony_projects/boucherie_p/templates/cotelettes/index.html.twig'|file_link(0) }}">templates/cotelettes/index.html.twig</a></code></li>
    </ul>
    <img src="{{ asset('build/images/cotelette.jpg') }}" alt="ACME logo">



<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-bs-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
</div>
</div>
{% endblock %}
